.list-container {
  background-color: var(--grey);
  padding: 1rem 1rem 1rem 0;
  margin: 0.5rem;
}

.list-style-square {
  list-style-type: square;
}

.list-style-disc {
  list-style-type: disc;
}

.list-style-none {
  list-style: none;
}
.list-style-upper-roman {
  list-style-type: upper-roman;
}
.list-style-lower-roman {
  list-style-type: lower-roman;
}
.list-style-lower-roman {
  list-style-type: lower-roman;
}

.list-style-lower-alpha {
  list-style-type: lower-alpha;
}
.list-style-upper-alpha {
  list-style-type: upper-alpha;
}

.list-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  flex-wrap: wrap;
}

.list-box .toast {
  width: 17rem;
}
