  
.typography-container h1{
    font-size: 2rem;
}
.typography-container h1,h2,h3,h4,h5,h6{
color: var(--secondary-dark);
}
 .small-text{
    font-size: 13px;
}
.grey-text{
    color: var(--primary-grey);
}
.center-text-box{
    text-align: center;
  width: 100%;
} 