.component-display-container{
    display: flex;
    padding:1rem;
    margin: 2rem 1rem;
   width: 80%;
    align-items: baseline;
    border-radius: 5px ;
    border:2px solid var(--grey);
    flex-wrap: wrap;
}

.code-display{
    box-sizing: border-box;
    width: 80%;
    max-height: 300px;
    padding: 1rem 0;
    background-color: #FAFAFA;
    margin: 2rem 1rem;
    overflow: auto;
}
 .code-display iframe{
    width: 100%

}